<!DOCTYPE html>
<html ng-app="competition">
<head>
	<meta charset="utf-8">
	<title>Football Competitions</title>

	<link href="build/css/main.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="bower_components/ng-dialog/css/ngDialog.min.css"/>
	<link rel="stylesheet" href="bower_components/ng-dialog/css/ngDialog-theme-default.css"/>
	<!--<link href="build/css/reset/reset.css" rel="stylesheet" type="text/css">-->

	<script src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
	<script src="bower_components/ng-dialog/js/ngDialog.min.js"></script>

	<script src="app/scripts/controller/controllers.js"></script>

</head>
<body ng-controller="retrieveCompetitions">
<div ui-view></div>
	<div ng-repeat="competition in competitions" class="compCard">
		<div class="header">
			<img class="competitionImg" src="http://footballbet.com.ua/table/embl/{{competition.image}}" alt=""/>
			{{competition.name}}
		</div>
		<div class="search"><input type="text" ng-model="query" placeholder="search by team name"/></div>
		<ol  class="teamsList">
			<a ui-sref="clubView">check</a>
			<li ng-repeat="team in teams | filter:{id_championship:competition.id_championship} | filter:query"
				ng-hide="team.name == ''">
				<span team-dialog team="team"></span>
			</li>
		</ol>
	</div>



</body>

</html>